h1 {
  text-align: center;
}
.topBox {
  border: 2px solid;
  height: 200px;
  display: grid;
}
.input_div {
  align-self: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.input_box {
  width: 50%;
}
button {
  background-color: green;
  color: white;
  text-transform: none;
  font-weight: bold;
}
.body_box {
  border: 2px solid;
  min-height: 400px;
  height: 100%;
  padding: 24px;
  /* display: grid; */
  align-items: center;
}
li {
  list-style: none;
}
h3 {
  text-align: center;
}
.filter_list {
  cursor: pointer;
}
@media only screen and (max-device-width: 480px) {
  .input_div {
    justify-content: flex-start;
  }
  .input_box {
    width: 100%;
    margin: 0px 18px;
  }
  button {
    margin: 0px 18px;
  }
}
